[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
ipykernel = "*"
gym = "*"
pygame = "*"
tensorflow = "*"
"rl.agents" = "*"
keras-rl = "*"
matplotlib = "*"
sns = "*"
seaborn = "*"
future = "*"
gymnasium = "*"

[dev-packages]

[requires]
python_version = "3.11"
